{% extends 'base.html.twig' %}

{% block body %}
<div role="toolbar" class="btn-group pull-left">
    <a id="btn-preview" role="button" class="btn btn-default navbar-btn disabled">
        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
        Preview
    </a>
    <a id="btn-download" role="button" class="btn btn-default navbar-btn disabled">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Download
    </a>
    <a id="btn-export" role="button" class="btn btn-default navbar-btn disabled">
        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
        Export
    </a>
</div>

<table>
    <thead>
        <tr>
            <th data-checkbox="true"><!-- --></th>
            <th data-field="id">Winkel Nr</th>
            <th data-field="title">Titel van blad</th>
        </tr>
    </thead>
    <tbody>
    {% for blad in dao.bladenlijstMetTitels %}
        <tr>
            <td data-checkbox="true"><!-- --></td>
            <td data-field="id">{{ blad.WinkelNr }}</td>
            <td data-field="title">{{ blad.wikiID }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table-locale-all.min.js"></script>
<script>
(function () {
    var wrapper     = $('#wrapper'),
        btnPreview  = $('#btn-preview'),
        btnDownload = $('#btn-download'),
        btnExport   = $('#btn-export'),
        bsTable     = $('table');

    var warn = function (msg, target) {
        var target = (undefined === target) ? window : target,
            html   = `
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>Warning!</strong> ${msg}
            </div>`;

        $(target).prepend(html);
    };

    var onBtnPreviewClick = function () {
        var row = bsTable.bootstrapTable('getSelections')[0],
            wid = window.parseInt(row.id, 10);

        window.location = '/preview/' + wid;
    };

    var onBtnDownloadClick = function () {
        warn('Deze functie is nog niet geimplementeerd', wrapper);
    };

    var onBtnExportClick = function () {
        warn('Deze functie is nog niet geimplementeerd', wrapper);
    };

    var onBsTableCheck = function () {
        var selection = bsTable.bootstrapTable('getSelections');

        btnPreview.toggleClass('disabled', !(1 === selection.length));
        btnDownload.toggleClass('disabled', false);
        btnExport.toggleClass('disabled', false);
    };

    var onBsTableUnCheck = function () {
        var selection = bsTable.bootstrapTable('getSelections');

        btnPreview.toggleClass('disabled', !(1 === selection.length));
        btnDownload.toggleClass('disabled', (0 === selection.length));
        btnExport.toggleClass('disabled', (0 === selection.length));
    };

    btnPreview.on('click', onBtnPreviewClick);
    btnDownload.on('click', onBtnDownloadClick);
    btnExport.on('click', onBtnExportClick);

    bsTable.bootstrapTable({
        // options
        search          : true,
        striped         : true,
        clickToSelect   : true,
        maintainSelected: true,
        locale          : 'nl-NL',

        // event listeners
        onCheck     : onBsTableCheck,
        onUncheck   : onBsTableUnCheck,
        onCheckAll  : onBsTableCheck,
        onUncheckAll: onBsTableUnCheck
    });
}());
</script>
{% endblock %}
