{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">


    <table>
        <thead>
            <tr>
                <th data-checkbox="true"><!-- --></th>
                <th data-field="id">Winkel Nr</th>
                <th data-field="title">Titel van blad</th>
            </tr>
        </thead>
        <tbody>
        {% for blad in dao.bladenlijstMetTitels %}
            <tr>
                <td data-checkbox="true"><!-- --></td>
                <td data-field="id">{{ blad.WinkelNr }}</td>
                <td data-field="title">{{ blad.wikiID }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
</style>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table-locale-all.min.js"></script>
<script>
$('table').bootstrapTable({
    search          : true,
    striped         : true,
    clickToSelect   : true,
    maintainSelected: true,
    locale          : 'nl-NL'
});
</script>
{% endblock %}
